*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #79031D;
    color: #D5D5D5;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

nav, footer {
    background: #000407;
}

header .container {
    height: 150px;
    display: grid;
    justify-items: end;
    align-items: center;
}

#header-section h1 {
    margin-right: 20px;
}

#navbar .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navbar .navbar-nav .nav-item{
    list-style: none;
    padding: 20px;
}

#navbar .navbar-nav .nav-item .nav-link {
    color: #D5D5D5;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 20px;
}

#navbar .navbar-nav .nav-item .nav-link:hover {
    background: #79031D;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all .2s;
}

main .container{
    min-height: 400px;
    padding: 50px 0;
}

footer .container {
    min-height: 100px;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .contact h4, footer .address h4 {
    border-bottom: 2px solid #D5D5D5;
}

footer .contact table tr th {
    text-align: left;
    padding: 5px 0;
}

footer .address {
    align-self: flex-start;
    line-height: 25px;
}

footer .social {
    display: flex;
    flex-direction: row;
}

footer .social a {
    background: #D5D5D5;
    margin: 0 10px;
    padding: 5px;
    border-radius: 25%;
    display: flex;
    
}

footer .social a img {
    height: 25px;
    width: 25px;
}

footer .social a:hover {
    background: #79031D;
    padding: 5px;
    transition: all .2s;
}

